{% load static %} {% block header %}

<!-- NAVBAR -->
<div
  id="divNavBar"
  class="bg-light mb-3 sticky-top shadow d-flex justify-content-center"
>
  <nav
    class="
      col
      navbar navbar-expand-md navbar-light
      d-flex
      justify-content-center
    "
  >
    <div class="col-4 text-center">
      <img
        class="navbar-brand"
        src="{% static 'litreview_project/img/logo_litreview.png' %}"
        alt="Logo de LITReview"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Le logo de Logo de LITReview"
        width="10%"
      />
    </div>
    {% if user.is_authenticated %}
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      id="navbarSupportedContent"
      class="col-10 mx-5 collapse navbar-collapse text-center"
    >
      <ul class="col-10 navbar-nav my-3 d-flex justify-content-center">
        <li class="nav-item mx-1 shadow">
          <a class="nav-link" href="{% url 'review:flux' %}"> Flux </a>
        </li>
        <li class="nav-item mx-1 shadow">
          <a class="nav-link" href="{% url 'review:posts' %}"> Posts </a>
        </li>
        <li class="nav-item mx-1 shadow">
          <a class="nav-link disabled" href="#"> Abonnements </a>
        </li>
        <li class="nav-item mx-1 shadow">
          <a class="nav-link" href="{% url 'authentication:deconnexion' %}">
            Se déconnecter
          </a>
        </li>
      </ul>
    </div>
    {% endif %}
  </nav>
</div>

{% endblock %}
