{% extends '_base.html' %} {% load static %} {% block main_content %}
<div class="container col-12 col-md-9 col-lg-6 p-2 borderTitle">
  <div class="row">
    <div class="text-center">
      <h1>LITReview - Creation d'une Critique</h1>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row d-flex flex-row justify-content-center">
    <div class="m-3 p-3 bg-light border border-warning">
      <h2>Vous êtes en train de poster en réponse à</h2>
      <div class="m-3 p-2 bg-light border border-success">
        {% for ticket in tickets %}
        <div>
          <p>{{ticket.user}} a demandé une critique</p>

          <h3 class="text-success">
            Ticket #{{ ticket.id }} : {{ ticket.title }}
          </h3>

          <p class="text-end">Date de demande : {{ticket.time_created}}</p>

          <div class="border border-warning p-2 m-3">
            {% if ticket.image %}
            <img src="{{ ticket.image.url }}" width="100px" />
            {% endif %}
            <p class="text-primary m-3">Description de la demande :</p>
            <p>{{ ticket.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-12 col-md-10 borderLeft">
      <h2 class="text-center m-3">
        Merci de completer votre critique en réponse au ticket ci-dessus
      </h2>
      <div class="m-auto p-3">
        <div class="text-danger">
          {% if form.errors %} {{ form.errors }} {% endif %}
        </div>

        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}{{ form.as_p }}
          <div class="text-center">
            <button class="btn btn-outline-danger" type="submit">
              <a
                href="javascript:history.back()"
                style="color: inherit; text-decoration: none"
                >Retour</a
              >
            </button>
            <button class="btn btn-outline-success" type="submit">
              Envoyer la demande
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock main_content %}
