{% extends '_base.html' %} {% load static %} {% block main_content %}
<div class="container borderTitle col-12 col-md-9 col-lg-6 p-2 bg-light">
  <div class="row">
    <div class="text-center">
      <h1>LITReview - Creation d'un Ticket & Critique</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="my-4 d-flex flex-row justify-content-center">
      <div class="col-12 col-md-10 borderLeft">
        <h2 class="text-center m-3">Creation d'un ticket</h2>
        <p class="text-center m-2">Merci de remplir les champs requis, svp</p>
        <div class="m-auto p-3">
          {% if ticket_form.errors %} Erreur Création Ticket : {{
          ticket_form.errors }} {% endif %} {% if review_form.errors %} Erreur
          Création Critique : {{ review_form.errors }} {% endif %}

          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}{{ ticket_form.as_p }}
            <hr />
            {{ review_form.as_p }}

            <div class="text-center">
              <button class="btn btn-outline-danger" type="submit">
                <a
                  href="{% url 'review:flux' %}"
                  style="color: inherit; text-decoration: none"
                  >Retour</a
                >
              </button>
              <button class="btn btn-outline-success" type="submit">
                Envoyer la demande
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock main_content %}
