{% extends '_base.html' %} {% load static %}
<!-- Page Home-->

{% block main_content %}
<style>
  body {
    background-image: url("{% static 'review/img/typewriter-801921_1920.jpg' %}");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<div class="container col-12 col-md-9 col-lg-6 p-2 borderTitle">
  <div class="row">
    <div class="text-center">
      <h1>LITReview - Creation d'une Critique</h1>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row d-flex flex-row justify-content-center">
    <div class="m-3 p-3 bg-light border border-warning">
      <h2>Vous êtes en train de poster en réponse à</h2>
      <div class="m-3 p-2 bg-light border border-success">
        {% for ticket in tickets %}
        <div>
          <p>{{ticket.user}} a demandé une critique</p>

          <h3 class="text-success">
            Ticket #{{ ticket.id }} : {{ ticket.title }}
          </h3>

          <p class="text-end">Date de demande : {{ticket.time_created}}</p>

          <div class="border border-warning p-2 m-3">
            {% if ticket.image %}
            <img src="{{ ticket.image.url }}" width="100px" />
            {% endif %}
            <p class="text-primary m-3">Description de la demande :</p>
            <p>{{ ticket.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-12 col-md-10 borderLeft">
      <h2 class="text-center m-3">
        Merci de completer votre critique en réponse au ticket ci-dessus
      </h2>
      <div class="m-auto p-3">
        <div class="text-danger">
          {% if form.errors %} {{ form.errors }} {% endif %}
        </div>

        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group m-2 p-2">
            <label for="id_headline">Titre : </label>
            <input
              type="text"
              name="headline"
              maxlength="128"
              id="id_headline"
              placeholder="Votre titre de critique"
              required
            /><br />
          </div>
          <hr />

          <div class="form-group m-2 p-2">
            <label for="id_rating">Note :</label>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="rating"
                id="rating0"
                value="0"
              />
              <label class="form-check-label" for="rating0">- 0</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="rating"
                id="rating1"
                value="1"
              />
              <label class="form-check-label" for="rating1">- 1</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="rating"
                id="rating2"
                value="2"
              />
              <label class="form-check-label" for="rating2">- 2</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="rating"
                id="rating3"
                value="3"
              />
              <label class="form-check-label" for="rating3">- 3</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="rating"
                id="rating4"
                value="4"
              />
              <label class="form-check-label" for="rating4">- 4</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="rating"
                id="rating5"
                value="5"
              />
              <label class="form-check-label" for="rating5">- 5</label>
            </div>

            <br />
          </div>
          <hr />

          <div class="form-group m-2 p-2">
            <label for="id_description">Commentaire : </label><br />
            <textarea
              class="form-control"
              name="description"
              maxlength="2048"
              id="id_description"
              placeholder="Explicitez votre critique..."
            ></textarea>
            <br />
          </div>
          <hr />
          <div class="text-center">
            <button class="btn btn-outline-danger" type="submit">
              <a
                href="javascript:history.back()"
                style="color: inherit; text-decoration: none"
                >Retour</a
              >
            </button>
            <button class="btn btn-outline-success" type="submit">
              Envoyer la demande
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock main_content %}
