{% extends '_base.html' %} {% load static %} {% block main_content %}

<div class="container col-12 col-md-9 col-lg-6 p-2 borderTitle bg-light">
  <div class="row">
    <div class="text-center">
      <h1>LITReview - Supprimer votre Ticket</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="my-4 d-flex flex-row justify-content-center">
      <div class="col-12 col-md-10 borderLeft">
        <h2 class="text-center text-danger m-3">
          {% if review %} Etes-vous sûr de vouloir supprimer votre ticket avec
          sa critique associée ? {% else %} Etes-vous sûr de vouloir supprimer
          votre ticket ? {% endif %}
        </h2>
        <div class="p-4">
          {% if review %} 
            {% include "review/partials/_post_review_with_ticket.html" %} 
          {% else %} 
            {% include "review/partials/_post_ticket_only.html" %} 
          {% endif %}
        </div>
        <div class="m-auto p-3">
          {% if form.errors %} {{ form.errors }} {% endif %}
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="text-center">
              <button class="btn btn-outline-danger" type="submit">
                Je confirme ma demande de suppression
              </button>
            </div>
          </form>
          <div class="text-center">
            <button class="btn btn-outline-success" type="submit">
              <a
                href="{% url 'review:posts' %}"
                style="color: inherit; text-decoration: none"
                >Retour</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock main_content %}
