{% extends '_base.html' %} {% load static %}
<!-- Page Home-->

{% block main_content %}
<style>
  body {
    background-image: url("{% static 'review/img/typewriter-801921_1920.jpg' %}");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<div class="container col-12 col-md-9 col-lg-6 p-2 borderTitle shadow-lg">
  <div class="row">
    <div class="jumbotron text-center">
      <h1>LITReview - Espace Membres</h1>

      <div class="border border-warning p-4 m-3">
        <h2 class="mb-4">Bonjour, {{user.username}} !</h2>
        {% if user.profile_photo %}
        <img src="{{user.profile_photo }}" width="100px" />
      </div>
      {% else %}
      <p>Vous n'avez pas encore de photos de profil</p>

      {% endif %}
      <button class="btn btn-outline-primary" type="submit">
        <a
          href="{% url 'authentication:user_picture' %}"
          style="color: inherit; text-decoration: none"
          >Modifier sa photo</a
        >
      </button>
    </div>
  </div>
</div>

{% endblock main_content %}
