{% extends '_base.html' %} {% load static %}
<!-- Page Home-->

{% block main_content %}
<style>
  body {
    background-image: url("{% static 'review/img/typewriter-801921_1920.jpg' %}");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<div class="container col-12 col-md-9 col-lg-6 m-auto p-2 borderTitle">
  <div class="row">
    <div class="jumbotron text-center">
      <h1>LITReview - Affichage du Ticket #{{ticket.id}}</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="m-3 p-5 bg-light">
      <div>
        {% if request.user.id == ticket.user.id%}
        <p>Vous avez demandé une critique</p>
        {%else%}
        <p>{{ticket.user}} a demandé une critique</p>
        {% endif%}
        <a
          href="../ticket/{{ ticket.id }}"
          style="color: inherit; text-decoration: none"
        >
          <h3 class="text-success">
            Ticket #{{ ticket.id }} : {{ ticket.title }}
          </h3></a
        >
        <p class="text-end">Date de demande : {{ticket.time_created}}</p>

        <div class="border border-warning p-4 m-3">
          <img src="{{ ticket.image.url }}" width="100px" />
          <p class="text-primary m-3">Description de la demande :</p>
          <p>{{ ticket.description }}</p>
        </div>

        {% for review in reviews %}
        <div>
          <p>{{review.user_id}} a publié une critique</p>
          <h3>{{review.headline}} - {{review.rating}}</h3>

          <div class="border border-warning p-4 m-3">
            <p class="text-primary m-3">Description de la critique :</p>
            <p>{{ review.body }}</p>
          </div>

          {% endfor %} {% for review in reviews %} {{review}}{% endfor %}
        </div>

        <div class="m-4 pt-5 d-flex flex-row justify-content-around">
          <div class="">
            <button class="btn btn-outline-success">
              <a
                href="javascript:history.back()"
                style="color: inherit; text-decoration: none"
                >Retour</a
              >
            </button>
          </div>
          <div class="">
            <button class="btn btn-outline-success">
              <a
                href="{% url 'review:create_new_review_for_ticket' number_ticket %}"
                style="color: inherit; text-decoration: none"
                >Créer une critique</a
              >
            </button>
            {% if request.user.id == ticket.user_id%}

            <button class="btn btn-outline-primary">
              <a
                href="../modify_ticket/{{ticket.id}}"
                style="color: inherit; text-decoration: none"
                >Modifier
              </a>
            </button>
            <button class="btn btn-outline-danger">
              <a
                href="../delete_ticket/{{ticket.id}}"
                style="color: inherit; text-decoration: none"
                >Supprimer
              </a>
            </button>

            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}
