{% extends '_base.html' %} {% block main_content %}

<div class="container col-12 col-md-9 col-lg-6 borderTitle">
  <div class="row">
    <div class="jumbotron text-center">
      <h1>Bienvenue sur LITReview</h1>
      <p>Vous cherchez une critique littéraire ? demandez-la !</p>
    </div>
  </div>
</div>

<div class="container col-12 my-4">
  <div
    class="
      row
      m-auto
      d-flex
      flex-row
      justify-content-around
      align-content-around
      flex-wrap
    "
  >
    <div
      class="
        borderLeft
        m-2
        col-11 col-md-5
        p-5
        text-center
        d-flex
        flex-column
        justify-content-around
        align-content-around
      "
    >
      <h2>Inscrivez-vous maintenant</h2>

      <a
        style="text-decoration: none; color: inherit"
        href="{% url 'authentication:inscription' %}"
        class="btn btn-warning m-auto"
        >Inscription</a
      >
    </div>
    <div class="borderLeft col-11 col-md-5 p-3 text-center">
      <h2>Déjà membre ? <br />Alors Connectez-vous !</h2>
      <p class="{{color}}">{{ message }}</p>
      <form method="post">
        {{ form.as_p }} {% csrf_token %}
        <button type="submit" class="btn btn-warning">Se connecter</button>
      </form>
    </div>
  </div>
</div>

{% endblock main_content %}
