{% extends '_base.html' %} {% block main_content %}

<div class="container">
  <div class="row">
    <div class="my-4 d-flex flex-row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 borderLeft">
        <h1 class="text-center">Modifier sa photo de profil :</h1>
        <div class="m-auto p-3">
          {% if form.errors %} {{ form.errors }}
          <hr />
          {% endif %}
          <form method="post" enctype="multipart/form-data">
            {{ form.as_p }} {% csrf_token %}
            <div class="text-center">
              <button class="btn btn-outline-danger" type="submit">
                <a
                  href="{% url 'authentication:connexion' %}"
                  style="color: inherit; text-decoration: none"
                  >Retour</a
                >
              </button>
              <button class="btn btn-outline-success" type="submit">
                Modifier
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}
