  
/* NAV */
.navbar{
  transition: 400ms ease-in-out;
  background-color : #ffffff ;
  border-bottom: #1F828B solid 4px;
}
.navbar:hover{
  transition: 400ms ease-in-out;
  border-bottom: #e2a063 solid 4px;
}
#divNavBar{
  top: -2; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s ease-in-out; /* Transition effect when sliding down (and up) */
}

.borderLeft{
  transition: all 300ms;
  background-color: #ffffffee;
  border: solid 1px #1F828B ;
  border-left: solid 10px #1F828B ;
  border-radius: 10px;
  display: block;
}
.borderLeft:hover{
  transition: all 300ms;
  border: solid 1px #e2a063 ;
  background-color: #ffffff;
  border-left: solid 10px #e2a063 ;
}

.borderTitle{
  transition: all 300ms;
  background-color: #ffffffee;
  border: solid 2px #1F828B ;
  border-radius: 10px;
  display: block;
}
.borderTitle:hover{
  transition: all 300ms;
  border: solid 2px #e2a063 ;
  background-color: #ffffff;
  
}

#id_rating{
  display: flex;
  flex-direction: row;
  list-style: none;
}

#id_rating li{
  margin: 10px;
}