{% load static %} {% block header %}

<!-- NAVBAR -->
<div
  id="divNavBar"
  class="bg-light mb-4 sticky-top shadow d-flex justify-content-center"
>
  <nav class="col navbar navbar-expand-md navbar-light">
    <div class="col-4 text-center">
      <img
        class="navbar-brand pl-3"
        src="{% static 'litreview_project/img/logo_litreview.png' %}"
        alt="Logo de LITReview"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Le logo de Logo de LITReview"
      />
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      id="navbarSupportedContent"
      class="col-10 mx-5 collapse navbar-collapse text-center"
    >
      <ul class="col-10 navbar-nav mx-3 d-flex justify-content-center">
        {%  if user.is_authenticated %}
        <li class="nav-item m-1 shadow">
          <a class="nav-link" href="#"> Flux </a>
        </li>
        <li class="nav-item m-1 shadow">
          <a class="nav-link" href="#"> Posts </a>
        </li>
        <li class="nav-item m-1 shadow">
          <a class="nav-link" href="#"> Abonnements </a>
        </li>
        <li class="nav-item m-1 shadow">
          <a class="nav-link" href="{% url 'authentication:deconnexion' %}">
            Se déconnecter
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>

{% endblock %}
