{% block flux_review_with_ticket %}

<div class="border border-success border-4 p-2 my-4 bg-light borderLeft">
  {% if ticket.review.user_id == request.user.id %}
  <p>Vous avez publié une critique</p>
  {% else %}
  <p>{{ticket.review.user}} a publié une critique</p>
  {% endif%}
  <p class="text-end">Date de demande : {{ticket.review.time_created}}</p>
  <h3 class="text-success">
    {{ ticket.review.headline }} - {% if ticket.review.rating == 0 %}
    {%endif%}{% if ticket.review.rating == 1 %}⭐️{%endif%}
    <!---->
    {% if ticket.review.rating == 2 %}⭐️⭐️{% endif%}
    <!---->
    {% if ticket.review.rating == 3 %}⭐️⭐️⭐️{% endif%}
    <!---->
    {% if ticket.review.rating == 4 %}⭐️⭐️⭐️⭐️{% endif%}<!---->
    {% if ticket.review.rating == 5 %}⭐️⭐️⭐️⭐️⭐️{% endif%}
  </h3>
  <p>{{ticket.review.body}}</p>

  <div class="border border-primary border-4 p-4 m-3">
    <a
      href="{% url 'review:read_ticket' ticket.id %}"
      style="color: inherit; text-decoration: none"
    >
      <h3 class="text-primary">
        Ticket #{{ ticket.id }} : {{ ticket.title }} -
        <!---->
        {% if ticket.user_id == request.user.id %} Vous {% else %}
        {{ticket.user}} {% endif %}
      </h3></a
    >
    <p class="text-end">Date de demande : {{ticket.time_created}}</p>

    <p>{{ ticket.description }}</p>
    {% if ticket.image %}
    <img src="{{ ticket.image.url }}" width="200px" />
    {% endif %}
  </div>
  {% if request.user.id == ticket.review.user_id%}
  <div class="text-end">
    <button class="btn btn-outline-success">
      <a
        href="{% url 'review:modify_review' ticket.review.id %}"
        style="color: inherit; text-decoration: none"
        >Modifier
      </a>
    </button>
    <button class="btn btn-outline-danger">
      <a
        href="{% url 'review:delete_review' ticket.review.id %}"
        style="color: inherit; text-decoration: none"
        >Supprimer
      </a>
    </button>
  </div>
  {% endif %}
</div>

{% endblock %}
