{% block flux_ticket %}
<div class="border border-primary border-4 p-2 my-4 bg-light borderLeft">
  {% if ticket.user_id == request.user.id %}
  <p>Vous avez publié un ticket</p>
  {% else %}
  <p>{{ticket.user}} a publié un ticket</p>
  {% endif%}
  <a
    href="{% url 'review:read_ticket' ticket.id %}"
    style="color: inherit; text-decoration: none"
  >
    <h3 class="text-primary">
      Ticket #{{ ticket.id }} : {{ ticket.title }}
    </h3></a
  >
  <p class="text-end">Date de demande : {{ticket.time_created}}</p>

  <p>{{ ticket.description }}</p>
  {% if ticket.image %}
  <img src="{{ ticket.image.url }}" width="150px" />
  {% endif %} {% if request.user.id == ticket.user_id%}
  <div class="text-end">
    <button class="btn btn-outline-primary">
      <a
        href="{% url 'review:modify_ticket' ticket.id %}"
        style="color: inherit; text-decoration: none"
        >Modifier
      </a>
    </button>
    <button class="btn btn-outline-danger">
      <a
        href="{% url 'review:delete_ticket' ticket.id %}"
        style="color: inherit; text-decoration: none"
        >Supprimer
      </a>
    </button>
  </div>
  {% endif %}
</div>
{% endblock %}
