{% extends 'review/_base.html' %} {% block main_content %}

<div class="container">
  <div class="row">
    <div class="my-4 d-flex flex-row justify-content-center">
      <div class="col-10 bg-light text-center">
        <h1>Inscrivez-vous maintenant</h1>
        <div class="m-4 p-4">
          <form
            method="POST"
            hx-target="#alert"
            hx-swap="beforeend"
            hx-post="{% url 'review:add_new_user' %}"
          >
            {% csrf_token %}

            <label for="id_username"> Nom d'utilisateur : </label>
            <input
              type="text"
              name="username"
              maxlenght="150"
              id="id_username"
              required
              placeholder="Saisir son pseudonyme"
            />

            <label for="id_password"> Mot de passe : </label>
            <input
              type="password"
              name="password"
              maxlenght="150"
              id="id_password"
              required
              placeholder="Saisir son mot de passe"
            />

            <label for="confirm_password">
              Confirmation de Mot de passe :
            </label>
            <input
              type="password"
              name="confirm_password"
              maxlenght="150"
              id="confirm_password"
              required
              placeholder="Saisir son mot de passe"
            />

            <div class="form-group text-center">
              <div class="form-check d-flex justify-content-center">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="invalidCheck2"
                  required
                />
                <label class="form-check-label" for="invalidCheck2">
                  J'accepte les termes et les conditions d'utilisations.
                </label>
              </div>
            </div>

            <button type="button" class="btn btn-outline-danger">
              <a
                style="text-decoration: none; color: inherit"
                href="{% url 'review:index' %}"
              >
                Retour
              </a>
            </button>
            <button class="btn btn-success">S'inscrire</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="alert"></div>
{% endblock main_content %}
