{% extends '_base.html' %} {% load static %} {% block main_content %}
<div class="container col-12 col-md-9 col-lg-6 p-2 borderTitle bg-light">
  <div class="row">
    <div class="text-center">
      <h1>LITReview - Erreur 404</h1>
      <p>La page ou l'élément demandé est introuvable</p>
    </div>
    <div class="text-center">
      <button class="btn btn-warning" type="submit">
        <a
          href="javascript:history.back()"
          style="color: inherit; text-decoration: none"
          >Retour</a
        >
      </button>
    </div>
  </div>
</div>

{% endblock main_content %}
