{% extends '_base.html' %} {% load static %}
<!-- Page Home-->

{% block main_content %}
<style>
  body {
    background-image: url("{% static 'review/img/typewriter-801921_1920.jpg' %}");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<div class="container col-12 col-md-9 col-lg-6 p-2 borderTitle bg-light">
  <div class="row">
    <div class="text-center">
      <h1>LITReview - Erreur 500</h1>
      <p>
        Le serveur a rencontré une erreur, la page demandée ne peut s'ouvrir
        correctement
      </p>
    </div>
    <div class="text-center">
      <button class="btn btn-warning" type="submit">
        <a
          href="javascript:history.back()"
          style="color: inherit; text-decoration: none"
          >Retour</a
        >
      </button>
    </div>
  </div>
</div>

{% endblock main_content %}
