{% load static %} {% block header %}
<div class="container-fluid mb-4">
  <div class="row">
    <!-- NAVBAR -->
    <div
      id="divNavBar"
      class="
        bg-light
        sticky-top
        shadow
        d-flex
        flex-column
        justify-content-center
      "
    >
      <nav
        class="
          navbar
          m-1
          navbar-expand-md navbar-light
          d-flex
          flex-row
          justify-content-around
          align-content-around
        "
      >
        <img
          class="navbar-brand"
          src="{% static 'review/img/logo_litreview.png' %}"
          alt="Logo de LITReview"
          width="5%"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Logo de LITReview"
        />

        {%  if user.is_authenticated %}
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarContent"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarContent" class="collapse navbar-collapse">
          <ul class="navbar-nav m-auto">
            <li class="nav-item active m-1 shadow">
              <a class="nav-link" href="{% url 'review:home' %}"> Accueil </a>
            </li>

            <li class="nav-item m-1 shadow">
              <a class="nav-link" href="#"> Flux </a>
            </li>
            <li class="nav-item m-1 shadow">
              <a class="nav-link" href="#"> Posts </a>
            </li>
            <li class="nav-item m-1 shadow">
              <a class="nav-link" href="#"> Abonnements </a>
            </li>
            <li class="nav-item m-1 shadow">
              <a class="nav-link" href="{% url 'review:deconnexion' %}">
                Se déconnecter
              </a>
            </li>
          </ul>
        </div>
        {% endif %}
      </nav>
    </div>
  </div>
</div>

{% endblock %}
