{% extends '_base.html' %} {% load static %}
<!-- Page Home-->

{% block main_content %}
<style>
  body {
    background-image: url("{% static 'review/img/typewriter-801921_1920.jpg' %}");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<div class="container col-12 col-md-9 col-lg-6 p-2 bg-light">
  <div class="row">
    <div class="text-center">
      <h1>LITReview - Creation d'une nouvelle Critique</h1>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row d-flex flex-row justify-content-center">
    <div class="m-3 p-5 bg-light border border_success">
      {% for ticket in tickets %}
      <div>
        <p>{{ticket.user}} a demandé une critique</p>
        <a
          href="../ticket/{{ ticket.id }}"
          style="color: inherit; text-decoration: none"
        >
          <h3 class="text-success">
            Ticket #{{ ticket.id }} : {{ ticket.title }}
          </h3></a
        >
        <p class="text-end">Date de demande : {{ticket.time_created}}</p>

        <div class="border border-warning p-4 m-3">
          <img src="{{ ticket.image.url }}" width="100px" />
          <p class="text-primary m-3">Description de la demande :</p>
          <p>{{ ticket.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="col-12 col-md-10 borderLeft">
      <h2 class="text-center m-3">
        Merci de completer votre critique en réponse au ticket ci-dessus
      </h2>
      <div class="m-auto p-3">
        {% if form.errors %} {{ form.errors }} {% endif %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group m-2 p-2">
            <label for="id_title">Titre de la demande : </label>
            <input
              type="text"
              name="title"
              maxlength="128"
              id="id_title"
              aria-describedby="titleHelp"
              placeholder="Votre titre"
              required
            /><br />
            <small id="titleHelp" class="form-text text-muted"
              >Entrer le titre de l'ouvrage suivi de son auteur.</small
            >
          </div>
          <hr />
          <div class="form-group m-2 p-2">
            <label for="id_description">Description de votre demande : </label
            ><br />
            <textarea
              name="description"
              cols="80"
              rows="5"
              maxlength="2048"
              id="id_description"
              aria-describedby="descriptionHelp"
              placeholder="Votre description"
              required
            ></textarea>
            <br />
            <small id="descriptionHelp" class="form-text text-muted"
              >Essayer d'être le plus précis possible, pensez à indiquer le
              Titre de l'Ouvrage ainsi que son Auteur, si cela n'est pas déjà
              renseignés.</small
            >
          </div>
          <hr />
          <div class="form-group m-2 p-2">
            <label for="id_image">Image de l'Ouvrage : </label>
            <input
              type="file"
              name="image"
              accept="image/*"
              id="id_image"
              aria-describedby="imageHelp"
            /><br />
            <small id="imageHelp" class="form-text text-muted"
              >Vous pouvez importer une image de l'ouvrage pour une meilleure
              reconnaissance pour les autres utilisateurs<br />
              Attention, seuls les fichiers de type "images" sont autorisés
              !</small
            >
          </div>
          <hr />
          <div class="text-center">
            <button class="btn btn-outline-danger" type="submit">
              <a
                href="{% url 'review:flux' %}"
                style="color: inherit; text-decoration: none"
                >Retour</a
              >
            </button>
            <button class="btn btn-outline-success" type="submit">
              Envoyer la demande
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock main_content %}
